---
---
@import '../_sass/bootstrap';
// @import '../_sass/animations';
@import '../_sass/syntax-highlighting';


$scotch-primary: #FCF6E0;
$scotch-secondary: #EE4C80;

$black:#2E3736;
$offwhite:#FCF6E0;
$white: #F2F2F0;
$pink:#EE4C80;
$grey:#80847A;
$darkgrey: darken($black, 3%);
$maroon: #702B42;

%raleway { font-family: 'Raleway', sans-serif; }
%muli {font-family: 'Muli', sans-serif;}

body {
    @extend %raleway;
    font-size: 14px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    background: $black;
    color:$white;
    margin:0;
    border-top:40px solid $darkgrey;
}

* {transition: all 0.25s ease;}

p {margin-bottom: 30px;}

section, header, footer, main, article, nav, aside {position: relative;}

code {background-color:$maroon; color:$white;}

a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $scotch-secondary;

    &:hover { color: #6165FF; }
}

.btn-primary {
    text-transform: uppercase;
    font-weight: 400;
    @extend %muli;
    background:$pink;
    border:none;
    border-radius:0;
    &:hover {background:$maroon;}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %muli;
    letter-spacing: 1px;
    color: $offwhite;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: 900;
    font-size: 42px;
}

h2 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 30px;
}

h3 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .4px;
    margin-bottom: 20px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .8px;
}

::selection {
    background: $pink;
    color: $white;
}

.fa {
    color:$grey;
    font-size:30px;
    padding:0 15px;
    &:hover {color:$pink;}
}

.responsive {width:100%;}

.center {text-align:center;}

hr {    
    border: 0;
    height: 2px;
    border-top: 2px solid $darkgrey;
    background:darken($grey, 27%);
}


//    The real stuff


.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 80px auto 60px;
    
    h1 {
        margin: 0 0 80px;
    }
    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
    img {
        margin-bottom: 80px;
    }    
    h2 {
        max-width: 600px;
        margin:0 auto 30px;
    } 
    .btn {margin-bottom:40px;}    
}

#main {overflow:hidden;
    position:relative;}

#valueprop {
    text-align:center;
    padding:80px 0 40px;
    p {padding:0 40px;}
    img {
        margin-bottom:20px;
        position:relative;
        bottom:0;
        transition: all 0.15s ease;
        &:hover { bottom:4px; }
    }
}

#hello {
    padding:80px 0;
    img {margin:0 0 40px;
        &:hover {}
    }
}

#statue {padding:100px 0 0;    
    p {padding:0 100px 0 0;}
    img {margin-bottom:-210px;}
}


#fakefooter {
    padding:40px 40px;
    background:black;
    min-height:1400px;
    position:relative;
    transform: skew(0deg,3deg);
    overflow:hidden;
    
    .content {
        background:black;
        transform:skew(0deg,-3deg) rotate(3deg);
    }
    
    .copyright {margin-bottom:680px; margin-left:40px;}
    .photos {margin-bottom:500px; position:relative; left:-200px;}
    .lipsum {}
    
    .swatch {display:inline-block; border:4px solid $white; width:100px; height:100px; margin:0 20px 0 0;}
    .grey {background:$grey;}
    .pink {background:$pink;}
    .maroon {background:$maroon;}
    .offwhite {background:$offwhite;}
    
    .menu {position:absolute; left:75px; top:2400px;}
    .headset {margin-top:1200px; width:350px; position:relative; right:5%;}
    .spinal {margin-top:880px; position:relative; left:60%;}
    .alert {
        margin:800px auto 300px; 
        position:relative;
        transform: rotate(-3deg);
        text-align:center;
        width:50%;
        max-width:300px;
        img {display:block; margin:0 auto; width:50%;}
        code {display:block;background:none;}
    }
}


#book {
    z-index:100;
    position:relative;
    margin-top:-50px;
    padding:300px 0 0;
    background-image: linear-gradient(-180deg, #000000 0%, rgba(135,43,71,0.60) 40%, rgba(64,80,83,0.00) 100%);
    h2 {margin-bottom:20px;}
    p {margin-bottom:20px;}
    h3 {margin-top:80px; margin-bottom:10px;}
    .preorderform {
        #mce-EMAIL {
            color: $grey;
            border: none;
            padding: 4px 8px;
            width:100%;
        }
        .btn-primary {
            display:block; 
            margin:10px 0;
            width:200px;
            float:right;
        }
       p {
        margin-bottom: 4px;
        font-size:16px;
        }
    }

    .share {
        clear:both;
        margin-top:100px;
        h4 {
            display:inline-block; 
            margin-right:20px;
            line-height:20px;
        }
        a { position:relative;
            top:4px;}
    }
}

#citybg {
    height:320px;
    margin:-140px 0 0;
    background: url("{{ site.data.global.url }}/img/citybg.png") repeat-x left bottom;
}

footer {
    text-align:center;
    padding:60px 0 40px;
    background:#332027;
    color:$grey;
    .ctnnalogo img {width:200px;}
}

@media only screen and (max-width : 991px) {
    
    #hello {
        padding: 60px 0; 
        text-align:center; 
        img {width:50%;}
    }    
    #statue { padding: 40px 0 80px;
        p {padding-right:0;}
    }

    .mobile-center {text-align:center;}
    
    .responsive {width:65%;}

    #book img {margin-bottom:40px;}
    #book .preorderform .btn-primary {float:none; margin:10px auto;}
}   

@media only screen and (max-width : 480px) {
    
    h1 {font-size:30px;}
    h2 {font-size:20px;}

    .responsive {width:75%;}
        
    .title-group {
        h1 {margin-bottom:60px;}
        img {width:45%; margin-bottom:60px;}
    }
    
        #valueprop {
        padding:40px 0;
        img {width:30%;}
        p {padding:0 20px 40px;}
    }
    
    #fakefooter .alert {
        width:95%;
        left:160px;
            
    }
    
}