---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


$scotch-primary: #FCF6E0;
$scotch-secondary: #EE4C80;

$black:#2E3736;
$offwhite:#FCF6E0;
$white: #F2F2F0;
$pink:#EE4C80;
$grey:#425456;


%raleway { font-family: 'Raleway', sans-serif; }
%muli {font-family: 'Muli', sans-serif;}

body {
    @extend %raleway;
    font-size: 18px;
    line-height: 30px;
    padding-top: 51px;
    -webkit-font-smoothing: antialiased;
    background: $black;
    color:$white;
}
p {
    margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $scotch-secondary;

    &:hover { color: #6165FF; }
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %muli;
}
h1, h2, h3, h4, h5, h6 { @extend %muli;  }

h1 {font-weight:900; letter-spacing:1px;}
h2 {font-weight:800; font-size:30; letter-spacing:1px; color:$white;}
h3 {font-weight:400; font-size:28px; letter-spacing:.8px; color:$offwhite;}
h4 {font-weight:400; font-size:20px; letter-spacing:.8px; color:$offwhite;}

::selection {
    background: $pink;
    color: $white;
}


nav.navbar {
    margin: 0;

    a {
        text-transform: uppercase;
        font-size: 16px;
    }

    .navbar-brand {
        text-transform: none;

        i {
            transition: inherit;
            color: $scotch-primary;
            transform: scale(1);
        }

        &:hover i {
            color: rgb(255, 111, 111);
            transform: scale(1.35);
        }
    }
}
.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 100px;

    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
}

h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    @extend %muli;
    font-size: 48px;
    color: $scotch-primary;
}

.tile {
    position: relative;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    margin-bottom: 125px;

    .inner-guts { padding: 50px; }

    h2 {
        margin: 0;
        font-size: 100px;
        font-weight: 600;
        letter-spacing: -0.05em;
        line-height: 100px;
    }
}


.site-footer {
    margin-top: 200px;
}


.topper {
    position: relative;

}

pre {
    margin: 75px -100px;
}


@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special,
    .tile h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 15px 25px;
    }

    .tile .excerpt {
        font-size: 22px;
        line-height: 35px;
    }
}