
    <footer class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="copyright col-md-3">
                    <p>©2016 CTNNA</p>
                </div>
                <div class="ctnnalogo col-md-6">
                    <img class="" alt="" src="{{ site.data.global.url }}/img/ctnnalogo.png" />
                </div>
                <div class="sociallinks col-md-3 ">
                    <a href="" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>


    <!-- JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>

    </body>
</html>