{% include header.html %}

    <div class="title-group">
        <h1 class="special">{{ site.data.global.title }}</h1>
        <h2>{{ site.data.global.description }}</h2>
        <h3>{{ site.data.global.description }}</h3>
        <h4>{{ site.data.global.description }}</h4>
    </div>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>'This here young lady,' said the Gryphon, 'she wants for to know your  history, she do.'</p>

                    <p>'I'll tell it her,' said the Mock Turtle in a deep, hollow tone: 'sit  down, both of you, and don't speak a word till I've finished.'</p>
                </div>
            </div>
        </div>
    </main>

{% include footer.html %}