{% include header.html %}

<div class="title-group container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="special">{{ site.data.global.title }}</h1>
            <img alt="" src="{{ site.data.global.url }}/img/mribirb.svg" />
            <h2>{{ site.data.global.description }}</h2>
            <a href="http://surveymonkey.com/r/?sm=0vB_2BqyAjbGrAkCTZbKnnqw_3D_3D" target="_blank">
                <button type="button" class="btn btn-primary btn-lg">Take Free Survey</button>
            </a>
        </div>
        <div class="socialbuttons col-md-4 col-md-offset-4">
            <a href="https://www.facebook.com/Market-Research-Incorporated-957272837707586/" target="_blank"><i class="fa fa-facebook-official"></i></a>
            <a href="https://twitter.com/MrktResearchInc" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/market-research-incorporated" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</div>

<main>
    <div class="container">
        <div class="valueprop row">
            <div class="col-md-4">
                <img alt="" src="{{ site.data.global.url }}/img/headsetapps.svg" />
                <h3>Headset Apps</h3>
                <p>MRI’s enjoyable headset applications release dopamine. Removing your headset makes you less attractive.</p>
            </div>
            <div class="col-md-4">
                <img alt="" src="{{ site.data.global.url }}/img/heretohelp.svg" />
                <h3>Here to Help</h3>
                <p>MRI researches the public because it cares deeply about important humanitarian causes. We are here to help.</p>
            </div>
            <div class="col-md-4">
                <img alt="" src="{{ site.data.global.url }}/img/isolationnation.svg" />
                <h3>Isolation Nation</h3>
                <p>Since the flood of 2018 we must all remain together for safety.  Stay connected and avoid dying cold and alone.</p>
            </div>
        </div>
        <div class="hello row">
            <div class="col-md-8">
                <h2>Hello</h2>
                <p>MRI is not interested in your arms, legs, liver, spleen, or duodenum.  We are interested in market research. Take the brief survey below to alert us to the condition of your vessel.</p>   
                <a href="http://surveymonkey.com/r/?sm=0vB_2BqyAjbGrAkCTZbKnnqw_3D_3D" target="_blank">
                    <button type="button" class="btn btn-primary btn-lg">Take Free Survey</button>
                </a>
            </div>
            <div class="col-md-4">
                <img alt="" src="{{ site.data.global.url }}/img/mrilogo.svg" />
            </div>
        </div>
        <div class="statue row">
            <div class="col-md-7">
                    <img class="statue" alt="" src="{{ site.data.global.url }}/img/liberty.jpg" />
            </div>
            <div class="col-md-5">
                <h2>About US</h2>
                <p>Oz, left to himself, smiled to think of his success in giving the Scarecrow and the Tin Woodman and the Lion exactly what they thought they wanted.  “How can I help being a humbug,” he said, “when all these people make me do things that everybody knows can’t be done?  It was easy to make the Scarecrow and the Lion and the Woodman happy, because they imagined I could do anything.  But it will take more than imagination to carry Dorothy back to Kansas, and I’m sure I don’t know how it can be done.” For three days Dorothy heard nothing from Oz.</p>
            </div>
        </div>
    </div><!-- /container -->
    
    <div id="fakefooter" class="container-fluid">
        <div class="row">
            <div class="copyright col-s-4">
                <i>©2016 Market Research, Inc.</i>
            </div>
            
            <img class="photos" alt="" src="{{ site.data.global.url }}/img/photos.jpg" />
            <img class="photos2" alt="" src="{{ site.data.global.url }}/img/photos2.jpg" />
            
            <div class="lipsum col-md-6">
                <code>Nullam pharetra ante et lectus mollis, id accumsan neque fermentum. Nulla facilisi. Etiam tristique nulla non suscipit pulvinar. Donec eros libero, aliquam commodo dolor sit amet, viverra pellentesque orci. Nulla quis urna at nulla accumsan vehicula non non nibh. Sed vel varius ex. Pellentesque porta ac augue vitae congue. In venenatis quam non tellus efficitur pretium. Pellentesque ut enim interdum, euismod nibh non, luctus eros. Praesent egestas nisl et ornare varius. Cras fermentum ornare ligula, accumsan mollis velit varius quis. Ut pellentesque vestibulum sollicitudin.
                </code>
            </div>
            
            <div class="swatches col-md-4">
                <h2>This is an H2</h2>
                <div class="swatch grey"></div>
                <div class="swatch pink"></div>
                <div class="swatch offwhite"></div>
                <div class="swatch maroon"></div>
            </div>

            <img class="menu" alt="" src="{{ site.data.global.url }}/img/menu.jpg" />
            <img class="headset" alt="" src="{{ site.data.global.url }}/img/headset.svg" />
            <img class="spinal" alt="" src="{{ site.data.global.url }}/img/spinal.jpg" />

            <div class="alert">
                <img class="" alt="" src="{{ site.data.global.url }}/img/mrilogo.svg" />
                <code>Order 383727:<br />Asset JQ3992 data breach in Newark sector<br />Recommend Terminate JQ3992 immediately</code>
            </div>
            
        </div> 
    </div><!-- /fakefooter -->
    
    <div id="book">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="copy">
                        <h2>Coming Soon</h2>
                        <p>At this point users should be figuring out exactly what’s up and it might be time to just come out and be like hey it’s a book check it out order preorder the damn book already.</p>
                        <h3>Available Early 2017</h3>
                    </div>
                    <div class="preorderform">
                        <h4>Notify me when the preorder becomes available:</h4>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//spinetree.us2.list-manage.com/subscribe/post?u=3fbbb82bfcb6ba9b2333bfc3e&amp;id=c836dfe4b1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">

                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3fbbb82bfcb6ba9b2333bfc3e_c836dfe4b1" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                    <div class="share">
                        <h4>Share:</h4>
                        <a href="https://www.facebook.com/corporatetorsos/" target="_blank"><i class="fa fa-facebook-official"></i></a>
                        <a href="https://twitter.com/CorporateTorsos" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="photos" alt="" src="{{ site.data.global.url }}/img/ctnnamockup.png" />
                </div>
            </div>
        </div>
    </div>
    
</main>

{% include footer.html %}